/**
 * Author: Sachit Tandukar, Dipika Shrestha
 * Email: linkin_sachit@hotmail.com
 * Website: http://twitter.com/sachitandukar
 * File: style.css
 */
ul{
    list-style: none;
    padding: 0;
}
.error {
    border: 1px solid red;
    background: #E53939;;
    padding: 5px;
    color:#fff;
}
.form-success{
    border: 1px solid green;
    background: #40CA40;
    color: #fff;
    padding: 5px;
}